ul{
    list-style: none;
}

#chatList{
    height: 300px;
    overflow-y: scroll;
}

li{
    padding: 5px;
    border-bottom: 1px solid #f0f0f0;
}
.service, .custom{
    font-size: 15px;
    font-family: Arial, "Microsoft YaHei UI";
}

.service:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    width: 48px;
    height: 48px;
    background: url("../images/facebook-logo.png") no-repeat;
    background-size: cover;
}
.custom{
    text-align: right;
}

.custom:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    width: 48px;
    height: 48px;
    background: url("../images/airbnb-logo.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.chat-msg{
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
    margin-left: 8px;
    background-color: #f0f0f0;
    padding: 0 10px;
}

#msg{
    width: 60%;
    height: 35px;
    border: 1px solid #E9232C;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
}
