<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div><a href="/">首页</a> > <%= title %></div>
    <h1><%= title %></h1>
    <form action="/" method="post">
        <p>账号：<input type="text" name="name"></p>
        <p>密码：<input type="password" name="pwd"></p>
        <!--<p>确认密码：<input type="password" name="pwd"></p>-->
        <input type="submit" value="提交">
    </form>
  </body>
</html>
